<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body>
    <%= typeof errors %>
    <h1>Add a New Student</h1>

    <% if (errors && errors.length > 0) { %>
    <pre style="color: red">
    <%= errors %>
  </pre
    >
    <% } %>

    <form action="/students/add" method="POST">
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" value="<%= formData?.name || '' %>"/><br />
      <label for="grade">Grade:</label>
      <input type="text" id="grade" name="grade" value="<%= formData?.grade || '' %>" /><br />
      <label for="hobby">Hobby:</label>
      <input type="text" id="hobby" name="hobby" value="<%= formData?.hobby || '' %>" /><br />
      <input type="submit" value="Submit" />
    </form>
    <a href="/">Cancel Add</a>
  </body>
</html>
